.footer {
  background: #111827;
  color: white;
  padding: 50px 80px 20px;
}


.footer-container {

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;

}


.footer h2 {

  color: #22c55e;
  font-size: 28px;

}


.footer h3 {

  margin-bottom:15px;

}


.footer p {

  color:#d1d5db;
  line-height:1.6;

}


.footer-section ul {

  list-style:none;
  padding:0;

}


.footer-section li {

  margin:12px 0;
  color:#d1d5db;
  cursor:pointer;

}


.footer-section li:hover {

  color:#22c55e;

}


.social-icons {

  margin-top:40px;
  text-align:center;

}


.social-icons span {

  font-size:25px;
  margin:0 15px;
  cursor:pointer;

}


.footer-bottom {

  margin-top:30px;
  padding-top:20px;
  border-top:1px solid #374151;
  text-align:center;
  color:#9ca3af;

}



@media(max-width:768px){

.footer-container{

grid-template-columns:1fr;

}

.footer{

padding:40px 30px;

}

}